{% extends "core/template.html" %}
{% load staticfiles %}
{% block main %}

	<div class="work-single-flex js-fullheight">
		<div class="col-half js-full-height work-img" style="background-image: url(images/work-3.jpg);"></div>
		<div class="col-half js-fullheight">
			<div class="display-t js-fullheight">
				<div class="display-tc js-fullheight">
					<div class="work-desc">
						<h2>Thank you sponsor.</h2>
						<p>Thank you letter. Vestibulum efficitur orci eu enim mattis, a suscipit leo consequat. Aliquam rutrum quam odio, eget vehicula turpis dapibus a. Ut sit amet eros pharetra, hendrerit ex in, auctor massa. </p>
						<!-- <p><a href="#" class="btn-preview">Live Preview</a></p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}